#analyzer-container {
	border: 1px solid grey;
	padding: 26px;
	flex: 1;
	width: fit-content;
	border: 2px solid var(--theme);
	border-radius: 10px;
	background: var(--light-bg);
	font-family: monospace;
	float: right;
	height: fit-content;
}

#analyzer-header {
	font-size: 24px;
	margin: auto;
	width: fit-content;
	font-family: Closeness;
	margin-bottom: 30px;
}

#analyzer-icon {
	width: 70px;
	height: 70px;
	margin: 10px auto;
	background-image: url(../../../assets/svg/analyzer-icon.svg);
	background-size: 100% 100%;
}

#analyzer-main {
	padding: 10px;
	border: var(--container-border);
	border-radius: 10px;
}

#analyzer-footer {
	margin: 20px auto 0px auto;
	width: fit-content;
	padding: 10px;
	border-radius: 10px;
}

#analyzer-footer > label {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--theme);
	color: whitesmoke;
	padding: 4px 20px;
	border-radius: 5px;
	border: 2px solid #333;
}

#analyzer-footer > input {
	margin-bottom: 30px;
	width: 500px;
}

#analyzer-footer > label,
#analyzer-footer > input {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#analyzer-btn-wrapper {
	margin: auto;
	width: fit-content;
}
