:root {
	--dropdown-border-color: rgb(252, 255, 88);
	--test: rgb(66, 2, 56);
}

#navbar {
	background: var(--theme);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 1rem;
	min-height: 60px;
	color: white;
	z-index: 10;
	height: 100px;
}

#navbar-left {
	display: flex;
}

#nav-icon-wrapper {
	margin: 0px 70px 0px 50px;
}

#nav-icon,
#nav-text {
	display: inline-block;
}

#nav-icon {
	width: 60px;
	height: 60px;
	margin: 0px 0px;
	background-image: url(../../assets/svg/progress-01.svg);
	background-size: 100% 120%;
}
#nav-text {
	letter-spacing: 3px;
	padding: 2px 1px;
	margin: 0px 10px;
	font-family: Closeness;
	font-weight: 600;
	width: fit-content;
	position: relative;
	top: -10px;
	font-size: 39px;
	color: #eee;
}

#nav-color-picker {
	position: relative;
}

#nav-color-picker > div {
	position: absolute;
	margin-top: 20px;
}

#color-picker-text {
	text-align: center;
	background: white;
	border-radius: 20px;
	color: var(--theme);
	padding: 5px 14px;
	width: fit-content;
	font-weight: 600;
	cursor: pointer;
}

#color-picker-wrapper-2 {
	padding: 20px;
}

#color-picker-wrapper-2 > div {
	border-radius: 10px;
}

#design-info {
	font-size: 18px;
	font-family: monospace;
	text-transform: uppercase;
	position: absolute;
	top: 5%;
	right: 2%;
	z-index: 2;
}

#author {
	display: inline-flex;
	margin: 0px 20px;
}
#author > div {
	display: block;
	padding: 1px;
}

#author-name {
	text-transform: none;
	width: fit-content;
	background-color: rgb(252, 255, 88);
	border-radius: 20px;
	color: var(--theme);
	font-size: 20px;
	padding: 5px 24px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#author-name:hover {
	cursor: pointer;
}

#author-links {
	background: #fff;
	border-radius: 0px 0px 5px 5px;
	border-top: 2px solid var(--dropdown-border-color);
	margin: 0px 0px;
	color: black;
	padding: 5px 10px;
	box-shadow: var(--light-box-shadow);
}

.author-links-child {
	margin: 22px 0px;
	padding: 5px 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
	font-weight: bold;
	transition: background-color 300ms;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
}

.author-links-child:hover {
	cursor: pointer;
	background-color: rgb(231, 222, 222);
}

#github {
	border-color: black;
}

#linkedin {
	border-color: blue;
}

#sololearn {
	border-color: red;
}

#drop-icon {
	width: 15px;
	height: 15px;
	background-color: var(--dropdown-border-color);
	margin: 3px auto 0px auto;
	clip-path: polygon(50% 0%, 100% 100%, 0 100%);
}

#author-links,
#drop-icon {
	transition: opacity 0.5s;
}
